html{
  height: 100%;
  text-align: center;
  font-family: "Times New Roman"; "宋体";
  font-size: 64px;
  font-weight: bold;
  color: rgba(0,0,0,0.5);
  line-height: 100px;
  letter-spacing: -1px;
  background-color: rgb(250,250,250);
}
body{
  height:100%;
  margin: 0px;
  background-image: url(bk2.png);
  background-repeat: repeat-x;
  background-size: auto 100%;
}
input{
  font-size: 40px;
  font-family: "Times New Roman", "宋体";
  color:white;
  background-color: rgba(0,0,0,0.7);
  border-color: rgba(0,0,20,1.0);
}
#container {
  height: 100%;
  width: 100%;
  background-image: url(bk1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1600px;
  background-position:  center top;
}
#main{
  height: 100%;
  width:60%;
  margin:auto;
  padding-left: 550px;
}
#head{
  height: 300px;
}
#foot{

}
.submit{
  height: 60px;
  width: 170px;
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
  letter-spacing: 0px;
  border-radius: 10px;
}
#login{
  margin-left:200px;
}
#see{
  margin-left: -45px;
  height: 40px;
  margin-bottom: 22px;
  width: 40px;
  vertical-align: bottom;
  cursor: pointer;
}
#checkboxline{
  line-height: 32px;
  font-style: italic;
  font-size: 32px;
  color: rgba(180, 200, 200,0.7);
  margin-top: 0px;
}
#checkbox{
  margin-left: 500px;
  height: 20px;
  width: 20px;
  vertical-align: bottom;
}
